# ------ general ------
.DS_Store
.vscode/
.vscode/*

# ------ LaTeX ------
homework/*/*
# allow tex and pdf
!homework/*/main.pdf
!homework/*/main.tex

neural_net/part1/*
# allow tex and pdf
!neural_net/part1/main.pdf
!neural_net/part1/main.tex
